*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: #959595; */
    background-image: url(todo_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Ruda", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 30px;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

header, 
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button{
    padding: 0.5rem;
    font-size: 25px;
    border: none;
    background: white;
}

form button{
    /* color: #959595; */
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #000000;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}

.trash-btn,
    /* color: #4acc30;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
} */
.complete-btn{
    background: #e06d4e;
    color: white;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    opacity: 0.6;
}

.complete-btn{
    background: rgb(79, 158, 43);
    opacity: 0.6;
}

.complete-btn:hover{
    opacity: 1;
}

.trash-btn:hover{
    opacity: 1;
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: white;
    color: #ff6f47;
}